<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">Sharda Tutorial</div>
	<div class="list-group list-group-flush">
		<a href="#" class="list-group-item list-group-item-action bg-light">Alphabets</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Vowels</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Matras</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Numbers</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Conjuncts</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Ligatures</a>
	</div>
</div>
<!-- /#sidebar-wrapper -->

