<!DOCTYPE html>
<html lang="en">

<head>
  <title>Core Sharda Team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/css/ionicons.min.css">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">
  {{!-- <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style> --}}
  <script src="vendor/js/general/js/jquery.min.js"></script>
  <link rel="stylesheet" href="/vendor/css/lateststyle.css">
</head>

<body>


  {{!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">𑇄</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="https://karankraina.github.io/learning/main.html">Learn Sharda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transliteration">Transliterator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links">Archives</a>
        </li>
      </ul>
    </div>
  </nav> --}}

  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark lighten-1" style="margin-bottom: 0px;">
    <a class="navbar-brand" href="/">𑇄</a>
    <a class="navbar-brand brand-text" href="/">CORE SHARDA TEAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="https://karankraina.github.io/learning/main.html">Learn Sharda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transliteration">Transliterator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lalded">Lal Vaakhs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links">Archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->

  {{{body}}}

  <div class="jumbotron text-center" style="margin-bottom:0; height:30px">
    <p>Core Sharda Team</p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"
    integrity="sha512-eUQ9hGdLjBjY3F41CScH3UX+4JDSI9zXeroz7hJ+RteoCaY+GP/LDoM8AO+Pt+DRFw3nXqsjh9Zsts8hnYv8/A=="
    crossorigin="anonymous"></script>
  <script src="vendor/js/general/js/bootstrap.min.js"></script>

</body>

</html>