<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico?v=1.1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/animate.css">

    <link rel="stylesheet" href="/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/css/magnific-popup.css">

    <link rel="stylesheet" href="/vendor/css/aos.css">

    <link rel="stylesheet" href="/vendor/css/ionicons.min.css">

    <link rel="stylesheet" href="/vendor/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendor/css/nouislider.css">


    <link rel="stylesheet" href="/vendor/css/flaticon.css">
    <link rel="stylesheet" href="/vendor/css/icomoon.css">
    <link rel="stylesheet" href="/vendor/css/style.css">





</head>

<body>


    <body>
        <div class="main-section">
            {{>header}}
            {{{body}}}
            {{>footer}}
        </div>
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00" /></svg></div>
        <script src="/vendor/js/general/jquery.min.js"></script>
        <script src="/vendor/js/general/jquery-migrate-3.0.1.min.js"></script>
        <script src="/vendor/js/general/popper.min.js"></script>
        <script src="/vendor/js/general/bootstrap.min.js"></script>
        <script src="/vendor/js/general/jquery.easing.1.3.js"></script>
        <script src="/vendor/js/general/jquery.waypoints.min.js"></script>
        <script src="/vendor/js/general/jquery.stellar.min.js"></script>
        <script src="/vendor/js/general/owl.carousel.min.js"></script>
        <script src="/vendor/js/general/jquery.magnific-popup.min.js"></script>
        <script src="/vendor/js/general/aos.js"></script>
        <script src="/vendor/js/general/nouislider.min.js"></script>
        <script src="/vendor/js/general/moment-with-locales.min.js"></script>
        <script src="/vendor/js/general/bootstrap-datetimepicker.min.js"></script>
        <script src="/vendor/js/general/main.js"></script>
    </body>

</html>