{{!-- <div class="container" style="margin-top:30px">
    <div class="head-text">
        <h1>About Us</h1>
    </div>
    <div class="gallery-body justify-content-start flex-column">
        <p>

            Kashmir the Land of Shāradā considered as Sarvajna Peetha (the seat of all Knowledge)
            has been always the land of Rishis. As Kashmir has been the land of great Scholars in
            the various fields of knowledge. It has even be noted by Hieun Tsnag during his visit in
            7th century AD that Sanskrit is been spoken very fluently even by women and Childen of
            Kashmir like their native language. People used only Shāradā as the main script to write
            Sanskrit.
        </p>
        <p>
            Sharada script is an writing system based on Brahmic family of scripts and was well
            flourished even in Himachal Pradesh and Punjab in 13th century AD. Śāradā texts have
            been widely found in Afghanistan; one of them was engraved on a marble statue of the
            Indian elephant god Ganesh that was found near Gardez. Another was inscribed on the
            large Uma Maheshvara from Tepe Skandar, north of Kabul. The Śāradā inscriptions all seem
            to date to the 8th century CE.

            Between 750 and 1000 A.D., the Shahi’s issued silver coins to provide currency for
            eastern Afghanistan and Gandhara. Most of the coins have an obverse legend in either
            Spalpati Deva or Samanta Deva, which are Śāradā scripts.Even now the scripts which are
            well known like Gurumukhi , Takri are derived from Shāradā script.
        </p>
        <p>
            New carbon dating research commissioned by the University of Oxford’s Bodleian Libraries
            into the ancient Indian Bakhshali manuscript, held at the Bodleian, has revealed it to
            be hundreds of years older than initially thought, making it the world’s oldest recorded
            origin of the zero symbol that we use today. ‘Determining the date of the Bakhshali
            manuscript is of vital importance to the history of mathematics and the study of early
            South Asian culture and these surprising research results testify to the subcontinent’s
            rich and longstanding scientific tradition. It is to be noted that The Bakhshali
            manuscript uses an early stage of the Sharada script.
        </p>
        <p>
            Alberuni in his writngs mentioned it as “Sidha Matrik” since the Alphabets in Shāradā
            always begins with “; ओम् स्वस्ति सिद्धम्”.

            Birth record and horoscopes etc. were written in this script. During the ceremony of
            Yajnopavita (Mekhala) the Kulaguru (the family priest) teaches the celibate
            (Brahmachari) alphabet of Siddha Matrika (old form of Sharda) on the wooden piece, this
            tradition is prevalent even today.

            The Kashmiri translation of Bible was published in 1822 A.D. in the Sharda script. Then
            its second edition appeared in Nastalik. The will of saint Maqdoom Sahib written in
            Sharda and Persian scripts is enhancing the importance of S.P.S. Museum, Srinagar.
        </p>
        <p>
            It is believed that there is a good haul of Sharada manuscripts in several places in the
            country like Nalanda, Hoshiarpur, Madurai, Chennai and Mysore, and in Nepal. George
            Buhler, it may be recalled had collected Sanskrit manuscripts from “Kashmir, Rajputana
            and Central India”, and published his report in 1877.

            There are many manuscripts in various Libraries in INDIA written in Shāradā but
            unfortunately there is no one to work on these. Hard to even imagine under what hardship
            would have been written.There have been many social and political reasons towards the
            downfall of this Lipi.
        </p>
        <p>
            Today the community stands at its tough time being away from the roots and there are
            many challenges in maintaining our culture and language.

            Being the member of community each one of us have a responsibility towards it.
        </p>
        <p>
            There are 86 different live scripts which are been maintained by their respective
            communities.
            A script is a first identity of any community like Shāradā being a unique identity of
            every Kashmiri Pandit. With very small effort with a dedication towards our Maa Shāradā,
            we can revive the script.

            Our community members are great intellecuals and have mastered many foreign languages
            also. We have scholars in Farsi,German and many foreign languages.
        </p>
        <p>
            The team “CORE Shaarda team” who has been working hard from last 2 years have been
            propagating the Shaarda through various sources. Today the team is about 100 members who
            have been conducting online classes and workshops to promote the Shaarda within
            community.
        </p>

        <p>A number of Indian and Foreign scholars have done considerable work on SHARDA script:</p>
        <b>
            <ol>
                <li>George Buhler in his memorable work, “Indian Palaeography”</li>
                <li>Leeche in his “Grammar of the Cashmere Language”</li>
                <li>Sir George Grierson in his paper in the “Journal of the Royal Asiatic
                    Society” and
                    also in his note in the “Linguistic Survey of India”.</li>
                <li>Marcus Aurel Stein (Cataloging of Raghunath Temple Library MSS).</li>
                <li>Jean Philippe Vogel’s ‘Antiquities of Chamba State, Vol 1, Calcutta’
                    (Sharada
                    Characters).</li>
                <li>Bhushan Kumar Kaul Deambi’s ‘Corpus of Sharada Inscriptions, Delhi.</li>
                <li>Shrinath Tikoo’s ‘Sharada Lipi Dipika (Hindi), Rashtriya Sanskrit Sansthan,
                    New
                    Delhi.</li>
                <li>Walter Slaje’s ‘Sharada Primer in German’.</li>
                <li>Micheal Witzel’s papers on ‘Kashmiri Manuscripts and Pronunciation’ and ‘The
                    Brahmins of Kashmir’</li>
                <li>Takao Hayashi’s ‘The Bakshali Manuscript’, Groningen.</li>
                <li>Bhushan Kumar Kaul Deambi’s ‘Sharada and Takari Alphabets’, IGNCA, Delhi
                </li>
            </ol>
        </b>
        <br>
        <p>Contributions of the CORE Sharda Team: </p>
        <b>
            <ol>
                <li>Introduced Sharda Lipi to 600 Students so far</li>
                <li>95 students are part of Core team now who have gained an expertise as Sharda
                    teachers</li>
                <li>Online training materials in form of YouTube vidoes</li>
                <li>Developed Android Keyboard</li>
                <li>Developed Android app for Shaarda learning</li>
                <li>Workshops and seminars related to Shaarda script.</li>
            </ol>
        </b>
        The sincere attempt is made to bring the script to all community members and since it is
        based on Devanagri and hence is not difficult to learn.
        </p>
        <p>
            You can contribute in any of the following ways:<br>
            <b>
                <ol>
                    <li>Join the Shaarda learning sessions conducted by the team.</li>
                    <li>Practice only one alphabet every day and make it a practice in each and every house.
                    </li>
                    <li>Make it as a ritual that when a child is sent to school, he writes first SHĀRADĀ
                        only. <br> Shāradā being the mother of knowledge will bless your child. There are many
                        communities in India who have similar ritual.</li>
                    <li>Whatever you have learnt share it into all social networks to motivate others.</li>
                    <li>Send greetings like Wohorwod Mubarak etc only in Shāradā.</li>
                    <li>Celebrate one day as Shāradā day and motive is to only have debates , discussions
                        related to Shāradā on that day.</li>
                    <li>Publish articles, facts about this lipi in any publicartions known to you.</li>
                    <li>Communicate with each other in Shāradā when are learnt. Work towards introducing it
                        in our community schools.</li>
                    <li>Encourage fellow members with rewards and recognisation for Shāradā.</li>
                    <li>Publish Short stories in every community magazine which is published in various
                        places globally.</li>
                </ol>
            </b>
        </p>

    </div>
</div> --}}
<section class="hero-wrap ftco-section ftco-section-2"
    style="background-color:#f4f4f4; height:100%"
    data-stellar-background-ratio="0.5" id="navigationTabs">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                {{!-- <h2 class="heading-section mb-3">About Us</h2> --}}
                <div class="tabulation-2" style=" margin-top:30px;">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                        <li class="nav-item">
                            <a class="nav-link active py-3"  data-toggle="tab" href="#home1"><span
                                    class="ion-ios-home mr-2"></span> About Sharda</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="nav-link py-3" data-toggle="tab" href="#home2"><span
                                    class="ion-ios-person mr-2"></span>Contributions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-3" data-toggle="tab" href="#home3"><span
                                    class="ion-ios-mail mr-2"></span> How to contribute</a>
                        </li>
                    </ul>
                    <div class="tab-content rounded mt-5">
                        <div class="tab-pane container p-4 active" id="home1">
                            <p>

                                Kashmir the Land of Shāradā considered as Sarvajna Peetha (the seat of all Knowledge)
                                has been always the land of Rishis. As Kashmir has been the land of great Scholars in
                                the various fields of knowledge. It has even be noted by Hieun Tsnag during his visit in
                                7th century AD that Sanskrit is been spoken very fluently even by women and Childen of
                                Kashmir like their native language. People used only Shāradā as the main script to write
                                Sanskrit.
                            </p>
                            <p>
                                Sharada script is an writing system based on Brahmic family of scripts and was well
                                flourished even in Himachal Pradesh and Punjab in 13th century AD. Śāradā texts have
                                been widely found in Afghanistan; one of them was engraved on a marble statue of the
                                Indian elephant god Ganesh that was found near Gardez. Another was inscribed on the
                                large Uma Maheshvara from Tepe Skandar, north of Kabul. The Śāradā inscriptions all seem
                                to date to the 8th century CE.

                                Between 750 and 1000 A.D., the Shahi’s issued silver coins to provide currency for
                                eastern Afghanistan and Gandhara. Most of the coins have an obverse legend in either
                                Spalpati Deva or Samanta Deva, which are Śāradā scripts.Even now the scripts which are
                                well known like Gurumukhi , Takri are derived from Shāradā script.
                            </p>
                            <p>
                                New carbon dating research commissioned by the University of Oxford’s Bodleian Libraries
                                into the ancient Indian Bakhshali manuscript, held at the Bodleian, has revealed it to
                                be hundreds of years older than initially thought, making it the world’s oldest recorded
                                origin of the zero symbol that we use today. ‘Determining the date of the Bakhshali
                                manuscript is of vital importance to the history of mathematics and the study of early
                                South Asian culture and these surprising research results testify to the subcontinent’s
                                rich and longstanding scientific tradition. It is to be noted that The Bakhshali
                                manuscript uses an early stage of the Sharada script.
                            </p>
                            <p>
                                Alberuni in his writngs mentioned it as “Sidha Matrik” since the Alphabets in Shāradā
                                always begins with “; ओम् स्वस्ति सिद्धम्”.

                                Birth record and horoscopes etc. were written in this script. During the ceremony of
                                Yajnopavita (Mekhala) the Kulaguru (the family priest) teaches the celibate
                                (Brahmachari) alphabet of Siddha Matrika (old form of Sharda) on the wooden piece, this
                                tradition is prevalent even today.

                                The Kashmiri translation of Bible was published in 1822 A.D. in the Sharda script. Then
                                its second edition appeared in Nastalik. The will of saint Maqdoom Sahib written in
                                Sharda and Persian scripts is enhancing the importance of S.P.S. Museum, Srinagar.
                            </p>
                            <p>
                                It is believed that there is a good haul of Sharada manuscripts in several places in the
                                country like Nalanda, Hoshiarpur, Madurai, Chennai and Mysore, and in Nepal. George
                                Buhler, it may be recalled had collected Sanskrit manuscripts from “Kashmir, Rajputana
                                and Central India”, and published his report in 1877.

                                There are many manuscripts in various Libraries in INDIA written in Shāradā but
                                unfortunately there is no one to work on these. Hard to even imagine under what hardship
                                would have been written.There have been many social and political reasons towards the
                                downfall of this Lipi.
                            </p>
                            <p>
                                Today the community stands at its tough time being away from the roots and there are
                                many challenges in maintaining our culture and language.

                                Being the member of community each one of us have a responsibility towards it.
                            </p>
                            <p>
                                There are 86 different live scripts which are been maintained by their respective
                                communities.
                                A script is a first identity of any community like Shāradā being a unique identity of
                                every Kashmiri Pandit. With very small effort with a dedication towards our Maa Shāradā,
                                we can revive the script.

                                Our community members are great intellecuals and have mastered many foreign languages
                                also. We have scholars in Farsi,German and many foreign languages.
                            </p>
                            <p>
                                The team “CORE Shaarda team” who has been working hard from last 2 years have been
                                propagating the Shaarda through various sources. Today the team is about 100 members who
                                have been conducting online classes and workshops to promote the Shaarda within
                                community.
                            </p>
                        </div>
                        <div class="tab-pane container p-4 fade" id="home2">
                            <p>A number of Indian and Foreign scholars have done considerable work on SHARDA script:
                                <b>
                                    <ol>
                                        <li>George Buhler in his memorable work, “Indian Palaeography”</li>
                                        <li>Leeche in his “Grammar of the Cashmere Language”</li>
                                        <li>Sir George Grierson in his paper in the “Journal of the Royal Asiatic
                                            Society” and
                                            also in his note in the “Linguistic Survey of India”.</li>
                                        <li>Marcus Aurel Stein (Cataloging of Raghunath Temple Library MSS).</li>
                                        <li>Jean Philippe Vogel’s ‘Antiquities of Chamba State, Vol 1, Calcutta’
                                            (Sharada
                                            Characters).</li>
                                        <li>Bhushan Kumar Kaul Deambi’s ‘Corpus of Sharada Inscriptions, Delhi.</li>
                                        <li>Shrinath Tikoo’s ‘Sharada Lipi Dipika (Hindi), Rashtriya Sanskrit Sansthan,
                                            New
                                            Delhi.</li>
                                        <li>Walter Slaje’s ‘Sharada Primer in German’.</li>
                                        <li>Micheal Witzel’s papers on ‘Kashmiri Manuscripts and Pronunciation’ and ‘The
                                            Brahmins of Kashmir’</li>
                                        <li>Takao Hayashi’s ‘The Bakshali Manuscript’, Groningen.</li>
                                        <li>Bhushan Kumar Kaul Deambi’s ‘Sharada and Takari Alphabets’, IGNCA, Delhi
                                        </li>
                                    </ol>
                                </b>
                                <br>
                                Contributions of the CORE Sharda Team<br>
                                <b>
                                    <ol>
                                        <li>Introduced Sharda Lipi to 600 Students so far</li>
                                        <li>95 students are part of Core team now who have gained an expertise as Sharda
                                            teachers</li>
                                        <li>Online training materials in form of YouTube vidoes</li>
                                        <li>Developed Android Keyboard</li>
                                        <li>Developed Android app for Shaarda learning</li>
                                        <li>Workshops and seminars related to Shaarda script.</li>
                                    </ol>
                                </b>
                                The sincere attempt is made to bring the script to all community members and since it is
                                based on Devanagri and hence is not difficult to learn.
                            </p>
                        </div>
                        <div class="tab-pane container p-4 fade" id="home3">
                            <p>
                                You can contribute in any of the following ways:<br>
                            <ol>
                                <li>Join the Shaarda learning sessions conducted by the team.</li>
                                <li>Practice only one alphabet every day and make it a practice in each and every house.
                                </li>
                                <li>Make it as a ritual that when a child is sent to school, he writes first SHĀRADĀ
                                    only. <br> Shāradā being the mother of knowledge will bless your child. There are many
                                    communities in India who have similar ritual.</li>
                                <li>Whatever you have learnt share it into all social networks to motivate others.</li>
                                <li>Send greetings like Wohorwod Mubarak etc only in Shāradā.</li>
                                <li>Celebrate one day as Shāradā day and motive is to only have debates , discussions
                                    related to Shāradā on that day.</li>
                                <li>Publish articles, facts about this lipi in any publicartions known to you.</li>
                                <li>Communicate with each other in Shāradā when are learnt. Work towards introducing it
                                    in our community schools.</li>
                                <li>Encourage fellow members with rewards and recognisation for Shāradā.</li>
                                <li>Publish Short stories in every community magazine which is published in various
                                    places globally.</li>
                            </ol>
                            <br><br><br><br><br><br><br><br><br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>