<section class="hero-wrap" style="background-image: url(vendor/images/bg_1.jpg); height:1080px;"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col text-center">
                {{!-- <h2 class="heading-section mb-3">About Us</h2> --}}
                <div class="tabulation-2">
                    <div class="tab-content rounded mt-5">
                        <h5 class="card-header"><b>Contact Information</b></h5>
                        <div class="tab-pane container p-4 active" id="home1">
                            <!--Grid column-->
                            <div class="col text-center">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <p><i class="ion-ios-phone-portrait mr-2"></i>
                                            (+91) 9830135616 / (+91) 9008952222
                                        </p>
                                    </li>
                                    <li>
                                        <p><i class="ion-ios-mail mr-2"></i>
                                            shaardalipi@gmail.com
                                        </p>
                                    </li>
                                    <li><a href="https://www.facebook.com/rjkaw/" target="_blank"><i class="ion-logo-facebook mr-4"></i></a>
                                        <a href="https://twitter.com/CoreSharada" target="_blank"><i class="ion-logo-twitter mr-4"></i></a>
                                        <a href="https://www.instagram.com/shardapeetham" target="_blank"><i class="ion-logo-instagram mr-4"></i></a>
                                    </li>

                                </ul>
                            </div>
                            <!--Grid column-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{{!-- 
<section class="ftco-section bg-light" id="cards">
    <div class="container card-styles">
        <div class="row">

        </div>
    </div>
</section> --}}