


		<section class="hero-wrap" style="background-image: url(vendor/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row description align-items-center justify-content-center">
					<div class="col-md-8 text-center">
						<div class="text">
							{{!-- <div class="designed d-inline-block">
								<d class="d-flex align-items-center">
									<div class="img" style="background-image: url(vendor/images/logo.jpg);"></div>
									<div class="ml-3">
										<p class="mb-0">Logo Designed by: <span>Sunil Ji</span></p>
									</div>
								</d>
							</div> --}}
							<h2 class="mb-5">Core Sharda Team</h2>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		

		
		<section class="ftco-section bg-light" id="cards">
			
			<div class="container card-styles">
				<div class="row">
					{{#each data}}
					<div class="col-md-6">
						<div class="card">
							<div class="card-body d-flex justify-content-center pb-5 px-4">
								<img src="{{{this.publicurl}}}" alt="Round Image"
										class="rounded img-fluid image-2">
							</div>
							
						</div>
					</div>
					{{/each}}
					{{#each data}}
					<div class="col-md-6">
						<div class="card">
							<div class="card-body d-flex justify-content-center pb-5 px-4">
								<img src="{{{this.publicurl}}}" alt="Round Image"
										class="rounded img-fluid image-2">
							</div>
							
						</div>
					</div>
					{{/each}}
					{{#each data}}
					<div class="col-md-6">
						<div class="card">
							<div class="card-body d-flex justify-content-center pb-5 px-4">
								<img src="{{{this.publicurl}}}" alt="Round Image"
										class="rounded img-fluid image-2">
							</div>
							
						</div>
					</div>
					{{/each}}
					{{#each data}}
					<div class="col-md-6">
						<div class="card">
							<div class="card-body d-flex justify-content-center pb-5 px-4">
								<img src="{{{this.publicurl}}}" alt="Round Image"
										class="rounded img-fluid image-2">
							</div>
							
						</div>
					</div>
					{{/each}}
					
				</div>
			</div>
			
		</section>
		<!-- - - - - -end- - - - -  -->
