<img src="/vendor/images/shardapeeth.jpg" class="img-fluid" style="height:450px, object-fit: contain" alt="Responsive image">
<div class="container" style="margin-top:30px">
  <div class="row row-class">
    <div class="col-sm-4">
      <h2></h2>
      <div class="row-image">
        <img class="img-fluid" src="/vendor/images/logo.jpg" width="200px" />
      </div>

      <hr class="d-none">
    </div>
    <div class="col-sm-8">
      <div class="row-section">
        <h1>Learn Sharda</h1>
        <p>This is a free online Sharda tutorial website. You will learn basic sharda characters including consonants,
          vowels and numbers. you will also learn the basic usage of these characters and ligature grammar for sharda
          script.</p>
        <a href="https://karankraina.github.io/learning/main.html" class="btn btn-warning link-button" role="button">Go
          to Course</a>
      </div>
      <br>

    </div>
  </div>
  <hr />
  <div class="row row-class">
    <div class="col-sm-4 order-sm-12">
      <h2></h2>
      <div class="row-image">
        <img class="img-fluid" src="/vendor/images/gallery.JPG" />
      </div>

      <hr class="d-none">
    </div>
    <div class="col-sm-8">
      <div class="row-section">
        <h1>Our Gallery</h1>
        <p>Browse our Sharda gallery where we regularly upload artwork done by the members of Core Sharda Team </p>
        <a href="/gallery" class="btn btn-warning link-button" role="button">View Gallery</a>
      </div>
      <br>

    </div>
  </div>
  <hr />
  <div class="row row-class">
    <div class="col-sm-4">
      <h2></h2>
      <div class="row-image">
        <img class="img-fluid" src="/vendor/images/translit.png" />
      </div>

      <hr class="d-none">
    </div>
    <div class="col-sm-8">
      <div class="row-section">
        <h1>Sharda Translator</h1>
        <p>This is a free online tool to transliterate text from devnagri to sharda script and vice versa.</p>
        <a href="/transliteration" class="btn btn-warning link-button" role="button">Translator</a>
      </div>
      <br>

    </div>
  </div>
  <hr />
  <div class="row row-class">
    <div class="col-sm-4 order-sm-12">
      <h2></h2>
      <div class="row-image">
        <img class="img-fluid" src="/vendor/images/archivesthumb.jpeg" />
      </div>

      <hr class="d-none">
    </div>
    <div class="col-sm-8">
      <div class="row-section">
        <h1>Archives</h1>
        <p>We have curated a list of important documents and resources to learn Sharda.</p>
        <a href="/links" class="btn btn-warning link-button" role="button">View Archives</a>
      </div>
      <br>

    </div>
  </div>
  <hr />
</div>