<!-- Page Content -->
<div id="page-content-wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sharda-navbar">
		<button class="btn btn-primary" id="menu-toggle">Lessons</button>

		{{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span> --}}
		</button>


	</nav>
	<div class="container-fluid sharda-main-content">
		<section class="ftco-section ftco-no-pt ftco-no-pb" id="carousel">
			<div class="container-fluid px-0">
				<div class="row no-gutters justify-content-center">
					<div class="col-md-12">
						<div id="demo" class="carousel slide" data-ride="carousel">

							<!-- Indicators -->
							<ul class="carousel-indicators">
								<li data-target="#demo" data-slide-to="0" class="active"></li>
								<li data-target="#demo" data-slide-to="1"></li>
								<li data-target="#demo" data-slide-to="2"></li>
							</ul>

							<!-- The slideshow -->
							<div class="carousel-inner">
								<div class="carousel-item carousel-item1 active bg-primary" >
									<!-- <div class="overlay"></div> -->
									<div class="container">
										<div
											class="row slider-text px-4 d-flex align-items-center justify-content-center">
											<div class="col-md-8 text w-100 text-center">
												<h2 class="mb-4">This is Carousel Bootstrap Enjoy Free UI Kit.</h2>
												<p><a href="#" class="btn btn-outline-white btn-round">See all
														components</a></p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item carousel-item1 bg-success" >
									<!-- <div class="overlay"></div> -->
									<div class="container">
										<div
											class="row slider-text px-4 d-flex align-items-center justify-content-center">
											<div class="col-md-8 text w-100 text-center">
												<h2 class="mb-4">We are Smash Free UI Kit.</h2>
												<p><a href="#" class="btn btn-outline-white btn-round">See all
														components</a></p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item carousel-item1 bg-warning" >
									<!-- <div class="overlay"></div> -->
									<div class="container">
										<div
											class="row slider-text px-4 d-flex align-items-center justify-content-center">
											<div class="col-md-8 text w-100 text-center">
												<h2 class="mb-4">Get Smash Free UI Kit</h2>
												<p><a href="#" class="btn btn-outline-white btn-round">See all
														components</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Left and right controls -->
							<a class="carousel-control-prev" href="#demo" data-slide="prev">
								<span class="ion-ios-arrow-round-back"></span>
							</a>
							<a class="carousel-control-next" href="#demo" data-slide="next">
								<span class="ion-ios-arrow-round-forward"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
<!-- /#page-content-wrapper -->